<nav class="u-align-left u-nav-spacing-25 u-offcanvas u-menu-1" style="padding-left:20px;">
    <div class="u-custom-menu u-nav-container">
        <ul class="u-nav u-spacing-30 u-unstyled u-nav-1">
            <li class="u-nav-item">
                <a href="/index" class="u-border-3 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-radius-2 u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90" style="padding: 10px 0;">
                    Home
                </a>
            </li>
            <li class="u-nav-item">
                <a href="/about" class="u-border-3 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-radius-2 u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90" style="padding: 10px 0;">
                    About
                </a>
            </li>
            <li class="u-nav-item">
                <a href="/results" class="u-border-3 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-radius-2 u-text-active-palette-1-base u-text-grey-90 u-text-hover-grey-90"  style="padding: 10px 0;">
                    Results
                </a>
            </li>
        </ul>
    </div>
</nav>
