      
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100 ver4 m-b-110">
                <div class="table100-head">
                    <table>
                        <thead>
                            <tr class="row100 head">
                                <th class="cell100 column col1">Sport</th><th class="cell100 column col2">League</th><th class="cell100 column col3">Start Date</th><th class="cell100 column col4">Start Time</th><th class="cell100 column col5">Team A</th><th class="cell100 column col6">Avg A</th><th class="cell100 column col7">Team B</th><th class="cell100 column col8">Avg B</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="table100-body js-pscroll ps ps--active-y">
                    <table>
                        <tbody>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    